/* img{
    width: 15rem;
}

nav{
    background-color: rgb(41, 44, 46);
}
#navpicture{
    width: 3rem;  
}
#cartimg{
    width: 1.2rem;
    margin-left: 1rem;
}

#navlist {
    display: flex;
    list-style: none;
    margin-left: auto;
}
#navlist li {
    margin: 0 0.5rem;
    text-align: right; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#contenedornav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 10%;
}

.nav-link {
    color: white;
    text-decoration: none; 
}

.nav-link:hover {
    color: orange; 
}

.contenedorbanner{
    width: 100%;
    height: 25rem;
    text-align: center;
    background-image: url("/challenge integrador/img/funkos-banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bannercontenido{
    display: flex;
    color: white;

    padding-left: 10rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
}  */