.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 1rem;
    margin-top: 2rem;
}

h1{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);     
    font-family: Raleway;
    margin-bottom: 5px;
}
p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}
.input-group {
    display: flex;
    flex-container: center;
    flex-direction: row
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 50%;
    height: 50%;
    gap: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.input-group label{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
  
}
.input-group input{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(228, 45, 45);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 0 10px;
}
.input-group input:focus{
    outline: none;
}
